<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>AdminAddFilmServlet</servlet-name>
        <servlet-class>Controller.AdminAddFilmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSalaServlet</servlet-name>
        <servlet-class>Servlets.AddSalaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFilmByGenreServlet</servlet-name>
        <servlet-class>Controller.AdminFilmByGenreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFilmByTheaterServlet</servlet-name>
        <servlet-class>Controller.AdminFilmByTheaterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGestorReservasServlet</servlet-name>
        <servlet-class>Controller.AdminGestorReservasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBConnector</servlet-name>
        <servlet-class>Controller.DBConnector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistracijaServlet</servlet-name>
        <servlet-class>Controller.RegistracijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewMyCommentsServlets</servlet-name>
        <servlet-class>Controller.UserViewMyCommentsServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewReservationsServlet</servlet-name>
        <servlet-class>Controller.UserViewReservationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddSalaServlet</servlet-name>
        <servlet-class>Controller.AdminAddSalaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowFilmsCineServlets</servlet-name>
        <servlet-class>Controller.ShowFilmsCineServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSesionsFilm</servlet-name>
        <servlet-class>Servlets.ShowSesionsFilm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSesionsFilmServlet</servlet-name>
        <servlet-class>Controller.ShowSesionsFilmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PruevaSesiones</servlet-name>
        <servlet-class>Servlets.PruevaSesiones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PruebaSesiones2</servlet-name>
        <servlet-class>Servlets.PruebaSesiones2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowOccupiedServlet</servlet-name>
        <servlet-class>Controller.ShowOccupiedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComprarTicketServlet</servlet-name>
        <servlet-class>Controller.ComprarTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasaPeliculaServlet</servlet-name>
        <servlet-class>Controller.PasaPeliculaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserPasaPeliculaServlet</servlet-name>
        <servlet-class>Controller.UserPasaPeliculaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserComentaPeliculaServlet</servlet-name>
        <servlet-class>Controller.UserComentaPeliculaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserFilmByCinema</servlet-name>
        <servlet-class>Servlets.UserFilmByCinema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserFilmCinemaServlet</servlet-name>
        <servlet-class>Controller.UserFilmCinemaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserComentaCineServlet</servlet-name>
        <servlet-class>Controller.UserComentaCineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddEntradaServlet</servlet-name>
        <servlet-class>Controller.AdminAddEntradaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteEntradaServlet</servlet-name>
        <servlet-class>Controller.AdminDeleteEntradaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminModifyEntradaServlet</servlet-name>
        <servlet-class>Controller.AdminModifyEntradaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterFilmCinemaGeneServlet</servlet-name>
        <servlet-class>Controller.filterFilmCinemaGeneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteSalaServlet</servlet-name>
        <servlet-class>Controller.AdminDeleteSalaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminModifySalaServlet</servlet-name>
        <servlet-class>Controller.AdminModifySalaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddSesionServlet</servlet-name>
        <servlet-class>Controller.AdminAddSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdimDeleteSesionServlet</servlet-name>
        <servlet-class>Controller.AdimDeleteSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteFilmServlet</servlet-name>
        <servlet-class>Controller.AdminDeleteFilmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminModifyFilmServlet</servlet-name>
        <servlet-class>Controller.AdminModifyFilmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCinemaServlet</servlet-name>
        <servlet-class>Servlets.SearchCinemaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserCinemaServlet</servlet-name>
        <servlet-class>Controller.SearchUserCinemaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCinemaSearchServlet</servlet-name>
        <servlet-class>Controller.UserCinemaSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminAddFilmServlet</servlet-name>
        <url-pattern>/AdminAddFilmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSalaServlet</servlet-name>
        <url-pattern>/AddSalaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFilmByGenreServlet</servlet-name>
        <url-pattern>/AdminFilmByGenreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFilmByTheaterServlet</servlet-name>
        <url-pattern>/AdminFilmByTheaterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGestorReservasServlet</servlet-name>
        <url-pattern>/AdminGestorReservasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBConnector</servlet-name>
        <url-pattern>/DBConnector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistracijaServlet</servlet-name>
        <url-pattern>/RegistracijaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewMyCommentsServlets</servlet-name>
        <url-pattern>/UserViewMyCommentsServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewReservationsServlet</servlet-name>
        <url-pattern>/UserViewReservationsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddSalaServlet</servlet-name>
        <url-pattern>/AdminAddSalaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowFilmsCineServlets</servlet-name>
        <url-pattern>/ShowFilmsCineServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSesionsFilm</servlet-name>
        <url-pattern>/ShowSesionsFilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSesionsFilmServlet</servlet-name>
        <url-pattern>/ShowSesionsFilmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PruevaSesiones</servlet-name>
        <url-pattern>/PruevaSesiones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PruebaSesiones2</servlet-name>
        <url-pattern>/PruebaSesiones2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowOccupiedServlet</servlet-name>
        <url-pattern>/ShowOccupiedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComprarTicketServlet</servlet-name>
        <url-pattern>/ComprarTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasaPeliculaServlet</servlet-name>
        <url-pattern>/PasaPeliculaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserPasaPeliculaServlet</servlet-name>
        <url-pattern>/UserPasaPeliculaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserComentaPeliculaServlet</servlet-name>
        <url-pattern>/UserComentaPeliculaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserFilmByCinema</servlet-name>
        <url-pattern>/UserFilmByCinema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserFilmCinemaServlet</servlet-name>
        <url-pattern>/UserFilmCinemaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserComentaCineServlet</servlet-name>
        <url-pattern>/UserComentaCineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddEntradaServlet</servlet-name>
        <url-pattern>/AdminAddEntradaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteEntradaServlet</servlet-name>
        <url-pattern>/AdminDeleteEntradaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminModifyEntradaServlet</servlet-name>
        <url-pattern>/AdminModifyEntradaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterFilmCinemaGeneServlet</servlet-name>
        <url-pattern>/filterFilmCinemaGeneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteSalaServlet</servlet-name>
        <url-pattern>/AdminDeleteSalaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminModifySalaServlet</servlet-name>
        <url-pattern>/AdminModifySalaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddSesionServlet</servlet-name>
        <url-pattern>/AdminAddSesionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdimDeleteSesionServlet</servlet-name>
        <url-pattern>/AdimDeleteSesionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteFilmServlet</servlet-name>
        <url-pattern>/AdminDeleteFilmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminModifyFilmServlet</servlet-name>
        <url-pattern>/AdminModifyFilmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCinemaServlet</servlet-name>
        <url-pattern>/SearchCinemaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserCinemaServlet</servlet-name>
        <url-pattern>/SearchUserCinemaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCinemaSearchServlet</servlet-name>
        <url-pattern>/UserCinemaSearchServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
